<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>


<table width="600" border="0" align="left" cellpadding="0" cellspacing="0" style="border:solid 1px #ccc">
    <tbody>
    <tr>
        <td style="border-top:solid 5px #0397ff">
            <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0"
                   style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#333;line-height:18px">
                <tbody>
                <tr>
                    <td width="42%" align="left" valign="top" style="padding:15px 0px">
                        <img alt="Logo" style="width:150px;padding-top:10px"
                             src="https://www.rosepetalshealthcare.co.uk/assets/images/logo.png" height="50px">
                    </td>
                </tr>
                <tr>
                    <td>
                        Good news! Somebody tried to contact you through your website.
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:solid 1px #ccc">&nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="94%" border="0" align="center" cellpadding="0" cellspacing="1"
                   style="background:#dbdbdb;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000">
                <tbody>
                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Name
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                        {{ full_name }}
                    </td>
                </tr>
                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Email Address
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                        <a href="mailto:{{ email }}" target="_blank">
                            {{email}}
                        </a>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        City
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                           {{ city }}

                    </td>
                </tr>
                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Post Code
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                            {{ postCode }}
                    </td>
                </tr>
                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Who For
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                        <a href="mailto:{{email }}" target="_blank">
                            {{ whomfor }}
                        </a>
                    </td>
                </tr>

                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Contact Number
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                        <a href="mailto:{{email }}" target="_blank">
                            {{ telephonenNum }}
                        </a>
                    </td>
                </tr>

                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Address
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                        <a href="mailto:{{email }}" target="_blank">
                            {{ address }}
                        </a>
                    </td>
                </tr>


                <tr>
                    <td width="22%%" style="background:#f2f2f2;padding:5px">
                        Type of care
                    </td>
                    <td width="78%" style="background:#f2f2f2;padding:5px">
                        {{care}}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="padding:5px 0;text-align:center;background:#0397ff;color:#fff;font-size:11px;font-family:Arial,Helvetica,sans-serif">
            <a href="https://www.rosepetalshealthcare.co.uk" target="_blank" style="text-decoration:none;color:white">www.rosepetalshealthcare.co.uk</a>
            All rights reserved.
        </td>
    </tr>
    </tbody>
</table>














